<!DOCTYPE html>
<html>
<head>
    <title>Selecto test</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
</head>
<body>
     {% verbatim %}
     <div data-ng-app="myApp" data-ng-controller="myController" class="container">
         <div class="row">
             <div class="col-md-4 form-group">
                 <select class="form-control" data-ng-change="get_order()" data-ng-model="ordering">
                     <option value="" selected disabled>Ordering</option>
                     <option value="date_created">Date Created ASC</option>
                     <option value="-date_created">Date Created DESC</option>
                     <option value="comments_count">Comments ASC</option>
                     <option value="-comments_count">Comments DESC</option>
                 </select>
             </div>
             <div class="col-md-6 form-group">
                 <input class="form-control" type="text" data-ng-model="search" placeholder="Search">
             </div>
             <div class="col-md-2 text-center btn-group">
                 <button class="btn btn-default" data-ng-click="get_search()">Submit</button>
             </div>
         </div>
         <div class="row">
             <div class="col-md-10">
                 <ul class="list-group" data-ng-repeat="item in items">
                     <li class="list-group-item">
                         <p>Full Name: {{ item.first_name }} {{ item.last_name }}</p>
                         <p>Phone Number: {{ item.phone }}</p>
                         <p>Address: {{ item.address }}</p>
                         <p>Date Created: {{ item.date_created }}</p>
                         <p>Number of comments: {{ item.comments_count }}</p>
                         <p>Last comment: {{ item.last_comment }}</p>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
     {% endverbatim %}

    <script>
    var app = angular.module('myApp', []);
    app.controller('myController', function($scope, $http){
        get_page('/profiles/', null);

        function get_page(url, params){
            if (url !==null) {
                $http({
                url: url,
                method: 'GET',
                timeout: 600,
                params: params})
                    .then(function(response){
                        $scope.items = response['data'];
                    })
            }
        }
        $scope.get_search = function(){
            get_page('/profiles/', { search: $scope.search });
        };
        $scope.get_order = function(){
            get_page('/profiles/', { ordering: $scope.ordering });
        };
    });
    </script>
</body>
</html>
